<div class="mynav d-flex justify-content-between p-4">
  <ul class="d-flex w-50 list-unstyle justify-content-between">
    <li class="logo">Noxe</li>
    <li>
      Home
    </li>
    <li routerLink = "movies">
      Movies
    </li>
    <li routerLink = "register">
      Register
    </li>
    <li routerLink = "about">
      About
    </li>
    <li routerLink = "people">
      People
    </li>
    <li routerLink = "tvshow">
      TV show
    </li>
    <li routerLink = "network">
      Network
    </li>
  </ul>
</div>

<div class="">

  <input type="text" placeholder="search" class="d-inline-block form-control">

  <i class="fab fa-facebook-f"></i>
  <i class="fab fa-instagram"></i>
  <i class="fab fa-youtube"></i>

  <span>Log out</span>
</div>
